body {
background-color: black;
}
.tutors {
    text-align: center;
    color: darkblue;
    position:relative;
        top: 80px;
        text-align: center;
        bottom: 450px;
    font-size: 1.5em;
}
.tutors > a {
    text-decoration: none;
    background-color: blue;
    color: skyblue;
    padding: 20px;
    border-radius: 20px;

}
.taskbar {
    padding: 14px;
    text-decoration: none;
    color: blue;
    background-color: aqua;
    text-align: center;
}
.taskbar > a {
    margin: 26px;
    font-size: 26px;
    font-weight: bold;
}
.taskbar > a:hover {
    background-color: black;
    color: white;
}
.js-section {
    text-align: center;
}
